[phases.setup]
nixPkgs = ["nodejs", "yarn"]

[phases.install]
cmds = ["yarn install --frozen-lockfile"]

[phases.build]
cmds = [
  "yarn build",
  "cp -r .next/static .next/standalone/.next/",
  "cp -r public .next/standalone/"
]

[start]
cmd = "node .next/standalone/server.js"
